<!DOCTYPE HTML>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    {% seo %}
    <meta name="keywords" content="{{ site.keywords }}">
    {% if site.naver_site_verification %}<meta name="naver-site-verification" content="{{ site.naver_site_verification }}"/>{% endif %}
    <script>window.location.replace("{{ site.redirection_url }}" + location.pathname.replace(/\/$/, '') + "?proxyReferer=" + encodeURIComponent(document.referrer) + location.search.replace(/^\?/, '&'));</script>
  </head>
</html>
